.form-box-container{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 500px;
    padding: 45px;
    text-align: left;
    outline: none;
    font-weight: bold;
    font-size: 20px;
    color: #475b66;
}
div.alert.alert-success{
    display: none;
    font-size: 15px;
}

#container-fluid-id{
    width: 1000px;
    margin: 0 auto;
}

.form-box-container .form-group input{
    height: 50px;
    width: 700px;
}

.form-box-container .form-group label{
    font-size: 20px;
}

.container-div-box{
    height: 300px;
}

.form-box-container input:hover {
    border: 1px solid #0f52ba;
}

.form-box-container input:hover::-moz-placeholder {
    color: #0f52ba;
}

.form-box-container input:hover::-webkit-input-placeholder {
    color: #0f52ba;
}

.form-box-container input:hover::-ms-input-placeholder {
    color: #0f52ba;
}

.form-box-container input:hover::-ms-input-placeholder {
    color: #0f52ba;
}

.form-box-container input:hover::placeholder {
    color: #0f52ba;
}



.form-box-container input::-moz-placeholder {
    font-size: 15px;
}

.form-box-container input::-webkit-input-placeholder {
    font-size: 15px;
}

.form-box-container input::-ms-input-placeholder {
    font-size: 15px;
}

.form-box-container input::-ms-input-placeholder {
    font-size: 15px;
}

.form-box-container input::placeholder {
    font-size: 15px;
}

#submit{
    background-color: #475b66;
    outline: none;
    border: 0;
    width: 130px;
    height: 50px;
    margin: 30px 120px;
}

#submit:hover{
    background-color: #273238;
}